body{
    margin: 0;
}
#container {
    background-color: gray;
    height:400px;
    width: 600px;
    position: relative;
}
#show1{
    
}
.page{
    height: 400px;
    width: 600px;
    position: absolute;
    display: none;
    background-repeat: no-repeat;
}
#page1{
   background-image:url("dog.jpg");
     
    
}
#page2{
    background-image: url(beach.jpg);
    
    
}
#page3{
    background-image: url(flowers.jpg);
   
    
}
input[type="radio"]:checked + .page {
    display: block;
    
    
}
#controls{
    left: 50%;
    transform: translate(-50%,0);
    user-select: none;
    position: absolute;
    bottom: 0;
    
}
label{
    font-size: 20pt;
    color: white;
    cursor: pointer;
}
#show1:checked ~ #controls label:nth-child(1),
#show2:checked ~ #controls label:nth-child(2),
#show3:checked ~ #controls label:nth-child(3)
{
    color: gray;
    
}
input{
    display: none;
}



