table {
    margin:auto;
    font-size: 18pt;
    border-color: darkgray;
}
#events {
    text-align: center;
    font-size: 18pt;
    float:left;
    width:35%;
    padding-left:35px;
    margin-left:35px;
}
#jim {
    float:right;
    width:27%;
   padding:0;
}
#roof {
    width:27%;
    padding:0;
    float:left;
}
@media (max-width:48em){
    #meetings {
        font-size: 15pt;
        margin-left: auto;
        margin-right: auto;
    }
    table {
        float:right;
        font-size: 15pt;   
    }
}