.tabbutton {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    height: 50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    cursor: pointer;
    text-align:center;
    font-size: 15pt;
    text-decoration: none;
    border-color: black;
    color:black;
}
#tabparent {
   text-align: center;
    top:0;
}
.tabbutton:focus {
    background-color: darkgrey;
}
h1 {
    text-align: center;
    font-size: 30pt;
    
}

#title a {
 font-size: 30pt;
 text-decoration: none;
color:black;
  
}
#home {
 margin:auto;
 display: block;
width:50%;
    border-style: none;
    box-shadow: 0px 0px 20px black;
   clear:both;
}
#quote2 {
    float:right;
    font-size: 25pt;
 font-family: 'Shadows Into Light', cursive;
}
#quote1{
    float:left;
    font-size:25pt;
    font-family: 'Shadows Into Light', cursive;
}
#quote3{
display: block;
    width:300px;
    margin-left: auto;
    margin-right: auto;
 font-size:25pt;
font-family: 'Shadows Into Light', cursive;
}

#first{
    margin:auto;
}
.about {
    width: 400px;
    height:400px;
    transform:rotate(90deg);

}
.aboutus {
    font-size: 15pt;
}
#shirt {
    width:400px;
    height:400px;
} 

#contact{
    list-style-type:none;
    text-align: center;
    font-size: 17pt;
    
}
#noelle {
    width:450px;
    height:320px; 
    transform: rotate(90deg);
    margin-top: 66px;
    float: right;
}
#isabella {
    float:left;
    width:320px;
    height:450px;
    bottom:20px;
}
table {
    margin:auto;
    font-size: 17pt;
    border-color: darkgray;

}

#events {
    text-align: center;
    font-size: 15pt;
    float:left;
    width:35%;
    padding-left:35px;
    margin-left:35px;
}
#jim {
    float:right;
    width:25%;
   padding:0;
}
#roof {
    width:25%;
    padding:0;
    float:left;
}
#twitter {
    width:75px;       
   margin:auto;   
}
#insta {
    width:75px;
    margin:auto;
    display:inline-block;    
}
#icon{
    text-align: center;
}


#halloween {
    width:500px;
    height:350px;
    margin: auto;
    display: inline-block;
    

}
#nbc {
     width:575px;
    height:350px;
    margin: auto;  
     
}

figcaption {
    text-align: center;
}
@media (max-width:48em){
    #tabparent{
    margin-left:0px;
    }
    #quote1 {
        font-size: 15pt;
    }
    #quote2 {
        font-size: 15pt;
    }
    #quote3 {
        font-size: 15pt;
    }
    #home {
        width:400px;
    }
    ol{
        position: relative;
        
    }
    #noelle {
        display: none;
    }
    #isabella {
       display: none;

    }
    #contact {
        text-align: right;
    }
    #twitter {
        margin-left:250px
    }
  iframe {
        display: none;
    }
}

