.card { 
width: 200px;
 display: inline-block;
border-style: none;
border-color: aliceblue;
border-width:thin;
border-radius: 
}
.card img { 
width: 100%;
}
.name {
 text-align: center;
 font-weight: bold;
 font-family:sans-serif;
}
.card p {
  font-family: sans-serif;  
}

#card1 {
background-color: darksalmon;
}

#card2 {
 background-color: deeppink;   
}

#card3 {
 background-color: blue;   
}

#card4 {
    background-color: chocolate;
}

#card5 {
    background-color: darkkhaki;
}
#card6 {
    background-color: firebrick;
}