.tabbutton {
    display: inline-block;
    background-color: lightgray;
    width: 100px;
    height: 50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    cursor: pointer;
    text-align:center;
    font-size: 15pt;
    text-decoration: none;
    border-color: black;
    color:black;
}
#tabparent {
    margin-left: 800px;
    top:0;
}
.tabbutton:focus {
    background-color: darkgrey;
}


#title a {
 font-size: 30pt;
 text-decoration: none;
color:black;
  
}
#home {
 margin-left: 320px;

width:50%;
    border-style: none;
    box-shadow: 0px 0px 20px black;
   
}

.about {
    width: 400px;
    height:400px;
    transform:rotate(90deg);
}
#shirt {
    width:400px;
    height:400px;
} 

ol {
    list-style-type:none;
    margin-left:450px;
    font-size: 20pt;
    
}
#noelle {
    width:450px;
    height:320px; 
    transform: rotate(90deg);
    margin-top: 66px;
    float: right;
}
#isabella {
    float:left;
    width:320px;
    height:450px;
    bottom:20px;
}
#twitter {
    width:100px;
    height:100px;
    margin-left:600px;
    
   
}
#insta {
    width:100px;
    height:100px;
    margin-left:260px;
}
h1 {
    text-align: center;
    font-size: 30pt;
    
}
#halloween {
    width:500px;
    height:350px;
    margin-left:430px;

}
table {
    margin-left: 400px;
    font-size: 20pt;
}
#quote2 {
    float:right;
    margin-top:150px;
    margin-right:70px;
    font-size: 25pt;
 font-family: 'Shadows Into Light', cursive;
}
#quote1{
    float:left;
    font-size:25pt;
    margin-top:100px;
    font-family: 'Shadows Into Light', cursive;
}
#quote3{
 float:left;
 font-size:25pt;
 margin-top:30px;
 margin-left:200px;
font-family: 'Shadows Into Light', cursive;
 
}
@media (max-width:40em){
    #tabparent{
    margin-left:0px;
    }
    
}

